/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bai-jamjuree), sans-serif;
  max-width: 1100px;
  margin: 0 auto;
}

* {
  font-family: var(--font-bai-jamjuree), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  font-family: var(--font-bai-jamjuree), sans-serif;
}
